<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <!-- Forfeit Modal -->
    <div class="modal fade" id="forfeitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <%= simple_form_for @game, url: forfeit_game_path(@game.id) do |f| %>
                <div class="modal-body">
                    Are you sure you want to forfeit?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Forfeit Game", class: 'btn btn-dark' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div>
        <% if @game.in_check?(true) %>
        <div class="check alert alert-danger col-3 center offset-4 game">
            <%=flash[:white_check] %>
            <br />
            <br />
            <% end %>
        </div>
        <% if @game.in_check?(false) %>
        <div class="check alert alert-danger col-3 center offset-4 game">
            <%=flash[:black_check] %>
            <br />
            <br />
            <% end %>
        </div>
    </div>
    <div class="booyah-box chatbox ">
        <h1> Messages
        </h1>
        <div class="all-messages"></div>
    </div>
    <%= form_for @message, url: game_messages_path(@game), remote: true do |form| %>
    <%= form.label "Chat:" %>
    <%= form.text_field :content, class: "enter-message-box", value: "" %>
    <div class="chatbutton">
        <%= form.submit "Send", class: "add-message btn-chat submit-message", remote: true %>
    </div>
    <% end %>
    <div class="row">
        <div class="col-4 center offset-1 game" data-game=<%=@game %> data-game-id=
            <%=@game.id %>>
            <table id="chessboard">
                <tbody>
                    <% [8,7,6,5,4,3,2,1].each do |row| %>
                    <tr>
                        <% (1..8).each do |col| %>
                        <td data-x_position=<%=col %> data-y_position =
                            <%= row%>
                            <% if (col + row).odd? %>
                            class="droppable white"
                            <% else %>
                            class=" droppable black"
                            <% end %>
                            >
                            <% render_piece(@game) %>
                            <% @pieces.each do |piece| %>
                            <% x = piece.x_position %>
                            <% y = piece.y_position %>
                            <% htmlcode = piece.htmlcode %>
                            <% if x == col && y == row %>
                            <div class="piece" data-x-coord=<%=col%>
                                data-y-coord=
                                <%=row%>
                                data-piece-id=
                                <%=piece.id%>
                                data-piece-type=
                                <%=piece.type%>
                                data-color=
                                <%=piece.color%>
                                >
                                <%=  piece.htmlcode.html_safe  %>
                            </div>
                            <% end %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="check col-6 offset-1 change-z">
            <br />
            <br />
            <% players(@game) %>
            <%= "White Player: #{@white_player.email}" %>
            <br />
            <% if @black_player %>
            <%= "Black Player: #{@black_player.email}" %>
            <br />
            <br />
            <%= "It is #{@turn_player.email}'s turn!" %>
            <% else %>
            <%= "Black Player: Awaiting opponent assignment" %>
            <% end %>
            <br />
            <br />
            <!-- Forfeit button trigger modal -->
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#forfeitModal">
                Forfeit Game
            </button>
            <br />
            <br />
            <br />
        </div>
    </div>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" style="display: none"></button>
    <!-- The Modal -->
    <div id="pawnPromoteModal" class="modal">
        <!-- Modal content -->
        <div id="promote_container" class="modal-content">
            <span class="close">&times;</span>
            <div id="queenSelection" class="promoteBtns">
                <button id="queenBtn" value="Queen" htmlcode="&#9813;">Queen</button>
            </div>
            <div id="bishopSelection" class="promoteBtns">
                <button id="bishopBtn" value="Bishop" htmlcode="&#9815;">Bishop</button>
            </div>
            <div id="rookSelection" class="promoteBtns">
                <button id="rookBtn" value="Rook" htmlcode="&#9814;">Rook</button>
            </div>
            <div id="knightSelection" class="promoteBtns">
                <button id="knightBtn" value="Knight" htmlcode="&#9816;">Knight</button>
            </div>
        </div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-analytics.js"></script>
    <script>
    var lastMessagePageShown = <%= @messages.last.to_json.html_safe %>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDCFN6hMblbVrATArVVjbIjPzjtXwrgssc",
        authDomain: "uc-berkley-chess.firebaseapp.com",
        databaseURL: "https://uc-berkley-chess.firebaseio.com",
        projectId: "uc-berkley-chess",
        storageBucket: "uc-berkley-chess.appspot.com",
        messagingSenderId: "89657029963",
        appId: "1:89657029963:web:9ac3e0fe3eb7811ab164ce",
        measurementId: "G-07D3YTGZ0V"
    };
    // Initialize Firebase

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    var database = firebase.database();
    console.log(database);
    if (lastMessagePageShown !== null) {
        var messageRef = database.ref('games/' + "<%= @game.id %>" + '/messages');

        messageRef.on('value', function(snapshot) {
            var values = snapshot.val();

            var ids = Object.keys(values);

            var lastId = ids[ids.length - 1];

            var lastMessage = values[lastId];
            console.log("<%=@white_player.email%>");
            var player = lastMessage.user_id === 1 ? "<%=@white_player.email%>" : "<%=@black_player.email%>"
            if (lastMessagePageShown.id < lastMessage.id) {

                $('.all-messages').append("<div class= 'message-box'><p> " + player + " says: " + lastMessage.content + "</p></div>");
                $('#message_content').val("");
            }
        });
    };
    </script>
</body>