<div class="col-10 center offset-1 game" data-game-id=<%=@game.id %>>
    <table id="chessboard">
        <tbody>
            <% [8,7,6,5,4,3,2,1].each do |row| %>
            <tr>
                <% (1..8).each do |col| %>
                <td data-x_position=<%=col %> data-y_position =
                    <%= row%>
                    <% if (col + row).odd? %>
                    class="droppable white"
                    <% else %>
                    class=" droppable black"
                    <% end %>
                    >
                    <% if board_piece = @chess_pieces.where("(x_position = ? AND y_position = ?)", col, row).first %>
                    <div class="piece" data-x-coord=<%=col%> data-y-coord=
                        <%= row%> data-piece-id=
                        <%=board_piece.id%>
                        >
                        <%=  board_piece.htmlcode.html_safe  %>
                    </div>
                    <% end %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script>
$(document).ready($(function() {
    $('.piece').draggable({
        snap: '.droppable',
        revert: 'invalid'
    });

    $('.droppable').droppable({
        drop: function(event, ui) {
            let piece = ui.draggable
            let destination_square = $(this);
            console.log($(this));
            var update_piece = {
                id: piece.data('piece-id'),
                game_id: piece.data('game-id'),
                x_position: destination_square.data('x_position'),
                y_position: destination_square.data('y_position')


            }




            $.ajax({
                type: 'PATCH',
                url: '/chess_pieces/' + update_piece.id,
                beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
                dataType: 'json',
                data: {
                    id: update_piece.id,
                    game_id: update_piece.game_id,
                    x_position: update_piece.x_position,
                    y_position: update_piece.y_position
                },
                success: function(data) {
                    destination_square.empty();
                    location.reload(true);
                }
            });

        }
    });

}));
</script>